*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  width: 100%;
}

main {
  display: flex;
  flex: 1;
  align-items: center;
}

.left-side, .right-side {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.left-side {
 
  border-right: 1px solid rgb(145, 145, 145);
  min-height: 80vh; 
}

form{

 display: flex;
 align-items: start;
 justify-content: center;
 flex-direction: column;
 gap: 5px;

}


.right-side h2{
  font-size: 35px;
  padding: 50px;

}


form input{
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(145, 145, 145);
  width: 20vw;
  padding-left: 10px;
}

form span{
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  width: 20vw;
  height: 45px;
  background-color: rgb(117, 206, 100);
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}


footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 40px 20px;
  background-color: #fff;
  border-top: 1px solid rgb(145, 145, 145);

}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-links input{
  padding: 10px;
  height: 30px;
}

.footer-links a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #333;
}

.logo-footer h2{
  font-size: 14px;
}

.logo-footer img{
width: 40px;
}