
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');


.material-symbols-outlined {
  font-family: 'Material Symbols Outlined' !important;
}

.login-split-bg {
  background-image: linear-gradient(rgba(21, 34, 16, 0.6), rgba(21, 34, 16, 0.6)), url('https://lh3.googleusercontent.com/aida-public/AB6AXuCmG8qutXaCLSrPViZTv199tB8z9aAn1x6BSuRnwTVZfBNbddlueO_zHDvibQExzvw_mZJXwFSVe5yBgngkihHAVbIg7PsADC5-WSdQORZvvnql_AqZRBe_hTq9DEJD5zsu_4Y6R34-kXRE4RxR6Yvb91N0i61AFebZTc-4VJkdAN_SWZFEtROTqQIwwazhSFHgDGz4vIZImaI1PS91qI9FfWXdDWBKNUPEzxIgWWb4OjN9N9Kcpor-1OTYSNFS7EDEJf6fVLCz');
  background-size: cover;
  background-position: center;
} 